###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################




projectPerFolder=true
projectPerFolderIncludes= frontend, broken_auth_lab, dockerized_labs
#projectPerFolderExcludes=

#wss.connectionTimeoutMinutes=60

# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
#updateInventory=false

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=true
#excludeDependenciesFromNodes=.*commons-io.*,.*maven-model

npm.resolveDependencies=true
#npm.ignoreSourceFiles=false
npm.includeDevDependencies=false
#npm.runPreStep=true
npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
npm.yarnProject=true
#npm.accessToken=
#npm.identifyByNameAndVersion=true
npm.yarn.frozenLockfile=true
#npm.resolveMainPackageJsonOnly=false
#npm.removeDuplicateDependencies=false
#npm.resolveAdditionalDependencies=true
#npm.failOnNpmLsErrors = 
#npm.projectNameFromDependencyFile = true
#npm.resolveGlobalPackages=true							   
#npm.resolveLockFile=true

python.invokePipAsModule=true
python.resolveDependencies=true
python.ignoreSourceFiles=false
python.ignorePipInstallErrors=true
#python.installVirtualenv=true
python.resolveHierarchyTree=true
python.requirementsFileIncludes=requirements.txt
python.resolveSetupPyFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
python.resolveGlobalPackages=true	
#python.localPackagePathsToInstall=/path/to/local/dependency.egg, /path/to/local/dependency.zip	
#python.resolvePipEditablePackages
python.path=python3.12
#python.pipPath=
#python.runPoetryPreStep=true
#python.includePoetryDevDependencies=true					  


###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.py **/*.js **/*.ts **/**.tsx

#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.gzip **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/ppsa/** **/release_scripts/** **/tests/** **/toolbox/** **/localenv/** **/test_automation/** **/gulp/** **/test/** **/wwwroot-ppsa/** **/node_modules/** **/harmony-storybook/** **/harmony/devtools/**

case.sensitive.glob=false
followSymbolicLinks=true



